<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
	<head>
		<meta charset="UTF-8">
		<title>PetClinic - Vets</title>
	</head>
	<body>
		<h2 th:text="'Vets List'">Vets List....</h2>
		<table id="vets" class="table table-striped">
			<caption>Vets</caption>
			<thead>
				<tr>
					<th id="id" style="width: 150px;">Name</th>
					<th id="firstName" style="width: 250px;">Specialties</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vet : ${vets}">
					<td th:text="${vet.firstName + ' ' + vet.lastName}">John Doe</td>
					<td>
						<span th:each="spec : ${vet.specialties}" th:text="${spec.description}" class="badge">Specialties</span>
						<span th:if="${vet.nrOfSpecialties == 0}" >none</span>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>